@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.msv</h3>
    <h3>@ViewBag.FullName</h3>


    <address>
        K22CNT3<br />
        -ASP MVC 5<br />
        <abbr title="Phone">P:</abbr>
        0919089087
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>